$light-color: #f2f6ff;
$dark-color: #405e87;

.course-details-wrapper {
  color: $dark-color;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  letter-spacing: 2px;
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  .breadcrumb {
    margin-top: 20px;
    align-self: flex-start;
    font-size: 12px;

    .breadcrumb-item {
      cursor: pointer;
      &:first-child {
        margin-right: 2px;
      }
      &:last-child {
        margin-left: 2px;
      }
      &:hover {
        font-weight: bolder;
      }
    }
  }

  .course-detail-wrapper {
    display: flex;
    justify-content: space-between;
    .course-detail {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      margin-top: 20px;
      .course-detail-row {
        display: flex;
        margin-bottom: 20px;

        .course-detail-row-content {
          font-weight: bold;
          text-align: justify;
          margin-left: 15px;
          max-width: 450px;
        }
      }
    }
    .course-footage {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-right: 30px;

      .course-footage-row {
        text-align: center;
        width: 300px;
        &:first-child {
          background-color: $light-color;
          color: $dark-color;
          padding-top: 10px;
          padding-bottom: 10px;
          user-select: none;
        }
        &:last-child {
          user-select: none;
          margin-top: 10px;
          background-color: $dark-color;
          color: $light-color;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          border: 1px solid $dark-color;

          &:hover {
            color: $dark-color;
            border: 1px solid $dark-color;
            background-color: white;
          }

          &:active {
            color: white;
            border: 1px solid $dark-color;
            background-color: $dark-color;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .course-detail-wrapper {
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .course-detail-row-content {
    width: 220px;
  }
}
